  <%= form_for @project_checklist, url: project_checklist_path(@project , @project_checklist), method: :put, remote: true do |f| %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit "edit checklist for this project" , :class => "btn btn-default" %>
  </div>
  
  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
  
<% end %>
