<div class="container" style="padding-top: 1%;">
  <div class="panel panel-default" style="background-color:rgba(255,255,255,0.7)">
   <div class="panel-body">
     
<%= form_for([@user, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
  <% if @project.id != nil %>
    <div class="field">
      <%= f.label :contributors %><br>
      <select class="form-control" form="edit_project_<%= @project.id %>" name="project[owners][]" multiple>
      <% User.all.each do |contributor| %>
        <% if @project.users.pluck(:id).include? contributor.id %>
          <option value=<%= contributor.id %> selected="selected">
            <%= contributor.email %>
          </option>
        <% else %>
          <option value=<%= contributor.id %>> <%= contributor.email %> </option>
        <% end %>
      <% end %>
     </select>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
</div>
