<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<div class="panel panel-primary">
<%= link_to 'New', new_project_checklist_path(@user, @project) %>
<%= link_to 'Edit', edit_user_project_path(@user, @project) %> |
<%= link_to 'Back', user_projects_path(@user) %>
</div>

 <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.title %></td>
        <td><%= checklist.description %></td>
        <td><%= checklist.status %></td>
        <td><%= checklist.description_id %></td>
        
      </tr>
    <% end %>
