
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>

<div class="row">
  <div class="col-md-10">
    <h1>Listing all checklists</h1>
  </div>
  <div class="col-md-1">
     <%= link_to 'NEW CHECKLIST', new_checklist_path , class: "btn btn_project"%>
  </div>
</div>

 <% @checklists.each do |checklist| %>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <div class="panel panel-default" style="width: 80%; height:100px;background-color:rgba(255,255,255,0.8)">
        <div class="panel-body" id="checklistboard" >
        <div class="row">
        <tr>
          <div class="col-md-2"><%= checklist.title %></div>
          <div class="col-md-2"><%= checklist.description %></div>
          <div class="col-md-2"><%= link_to 'Edit', edit_checklist_path(checklist) %></div>
          <div class="col-md-2"><%= link_to 'Destroy', checklist_path(checklist), method: :delete,
            data: { confirm: 'Are you sure?' } %></div>
        </tr>
         </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
