<!DOCTYPE html>
<html>
 <p id="notice"><%= notice %></p>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
</head>

<body background="http://4493bz.1985t.com/uploads/allimg/140924/4-140924102538.jpg" >
   <%= render 'layouts/navbar' %>
   <%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>

