<!DOCTYPE html>
<html>
 <p id="notice"><%= notice %></p>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body background="http://4493bz.1985t.com/uploads/allimg/140924/4-140924102538.jpg" >
 <%= render 'layouts/navbar' %>
  <p id="notice"><%= notice %></p>
<%= yield %>


</body>
<%= render 'layouts/footer' %>
</html>

